@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<main class="main-content">
    <h1>Your Health, Our Priority</h1>
    <p>We are committed to providing the best healthcare services with a team of experienced doctors and state-of-the-art facilities.</p>
    <a href="/Home/BookApp" class="btn btn-primary">Book an Appointment</a>
</main>
